<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <soft_db_status_validation>
            <enabled>1</enabled>
        </soft_db_status_validation>
    </default>
</config>
